version = "1.0"

[main]
name = "Navidrome configuration"
services = ["__APP__"]

    [main.config]
    name = "Configuration Options"

        [main.config.enable_animation]
        ask = "Enable cover animation"
        type = "boolean"
        yes = "true"
        no = "false"
        help = "Controls whether the player in the UI will animate the album cover"
        bind = "EnableCoverAnimation:/var/lib/navidrome/navidrome.toml"

        [main.config.enable_downloads]
        ask = "Allow music download"
        type = "boolean"
        yes = "true"
        no = "false"
        help = "Enable the option in the UI to download music/albums/artists/playlists from the server"
        bind = "EnableDownloads:/var/lib/navidrome/navidrome.toml"

        [main.config.scanner_extractor]
        ask = "Select metadata extractor"
        type = "select"
        choices = ["taglib", "ffmpeg"]
        default = "taglib"
        help = "Select metadata extractor implementation"
        bind = "Scanner.Extractor:/var/lib/navidrome/navidrome.toml"

        [main.config.enable_transcoding]
        ask = "Enable transcoding"
        type = "boolean"
        yes = "true"
        no = "false"
        help = "Enables transcoding configuration in the UI"
        bind = "EnableTranscodingConfig:/var/lib/navidrome/navidrome.toml"

        [main.config.welcome_message]
        ask = "welcome message"
        type = "string"
        help = "Add a welcome message to the login screen"
        bind = "UIWelcomeMessage:/var/lib/navidrome/navidrome.toml"


