version = "1.0"

[main]
name = "Navidrome configuration"
services = ["__APP__"]

    [main.config]
    name = "Navidrome configuration"

        [main.config.enable_downloads]
        ask = "Allow music download"
        type = "boolean"
        help = "Enable the option in the UI to download music/albums/artists/playlists from the server"
        bind = "EnableDownloads:/var/lib/navidrome/navidrome.toml"

        [main.config.scanner_extractor]
        ask = "Select metadata extractor"
        type = "select"
        choices = ["taglib", "ffmpeg"]
        default = "taglib"
        help = "Select metadata extractor implementation"
        bind = "Scanner.Extractor:/var/lib/navidrome/navidrome.toml"
