version = "1.0"

[main]
name.en = "Navidrome configuration"
name.fr = "Configuration de Navidrome"
services = ["__APP__"]

    [main.config]
    name.en = "Configuration Options"
    name.fr = "Options de configuration"

        [main.config.enable_animation]
        ask.en = "Enable cover animation"
        ask.fr = "Activer l'animation de couverture"
        type = "boolean"
        yes = "true"
        no = "false"
        help.en = "Controls whether the player in the UI will animate the album cover"
        help.fr = "Contrôle si le lecteur dans l'interface utilisateur animera la couverture de l'album"
        bind = "EnableCoverAnimation:__DATA_DIR__/navidrome.toml"

        [main.config.enable_downloads]
        ask.en = "Allow music download"
        ask.fr = "Autoriser le téléchargement de musique"
        type = "boolean"
        yes = "true"
        no = "false"
        help.en = "Enable the option in the UI to download music/albums/artists/playlists from the server"
        help.fr = "Activer l'option dans l'interface utilisateur pour télécharger de la musique/albums/artistes/listes de lecture à partir du serveur"
        bind = "EnableDownloads:__DATA_DIR__/navidrome.toml"

        [main.config.enable_sharing]
        ask.en = "Enable Sharing feature"
        ask.fr = "Activer la fonctionnalité de partage"
        type = "boolean"
        yes = "true"
        no = "false"
        bind = "EnableSharing:__DATA_DIR__/navidrome.toml"

        #[main.config.scanner_extractor]
        #ask.en = "Select metadata extractor"
        #ask.fr = "Sélectionner l'extracteur de métadonnées"
        #type = "select"
        #choices = ["taglib", "ffmpeg", "go-taglib"]
        #default = "taglib"
        #bind = "Scanner.Extractor:__DATA_DIR__/navidrome.toml"

        [main.config.enable_transcoding]
        ask.en = "Enable transcoding"
        ask.fr = "Activer le transcodage"
        type = "boolean"
        yes = "true"
        no = "false"
        help.en = "Enables transcoding configuration in the UI"
        help.fr = "Active la configuration du transcodage dans l'interface utilisateur"
        bind = "EnableTranscodingConfig:__DATA_DIR__/navidrome.toml"

        [main.config.welcome_message]
        ask.en = "Welcome message"
        ask.fr = "Message de bienvenue"
        type = "string"
        help.en = "Add a welcome message to the login screen"
        help.fr = "Ajouter un message de bienvenue à l'écran de connexion"
        bind = "UIWelcomeMessage:__DATA_DIR__/navidrome.toml"
