test_format = 1.0

[default]

    # ------------
    # Tests to run
    # ------------

    exclude ="install.multi"

    # -------------------------------
    # Commits to test upgrade from
    # -------------------------------

    test_upgrade_from.d7eb59fd.name = "Upgrade from 0.47.0~ynh1"
