LogLevel = "INFO"
Address = "127.0.0.1"
Port = "__PORT__"
BaseURL = "__PATH_URL__"
ScanInterval = "90s"
Scanner.Extractor = "taglib"
TranscodingCacheSize = "150MiB"
DataFolder = "__CONFIG_PATH__"
MusicFolder = "/home/yunohost.navidrome/Music"
